<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<script src="https://unpkg.com/vue@next"></script>
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-plus"></script>
		<script src="https://unpkg.com/element-plus/dist/locale/zh-cn"></script>
		<style>
			[v-cloak] {
				display: none !important;
			}
			.clearfix > span {
				font-weight: bolder;
			}
			.body-card {
				height: 128px;
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<div
			style="position: fixed; z-index: -1; top: calc(50% - 15px); left: calc(50% - 50px); width: 100px; height: 30px"
		>
			加载中...
		</div>
		<div id="app" style="background-color: #fff" v-cloak>
			<el-card class="box-card" shadow="never">
				<template #header class="clearfix">
					<span>{{ basicData["customerName"]}}</span>
					<!--  -->
				</template>
				<el-card class="box-card" shadow="never">
					<template #header class="clearfix">
						<span>基础画像</span>
						<!--  -->
					</template>
					<el-descriptions title="" :border="true" :column="3">
						<el-descriptions-item label="企业名称">{{ basicData["customerName"]}}</el-descriptions-item>
						<el-descriptions-item label="曾用名">{{ basicData["nameUsedBefore"]}}</el-descriptions-item>
						<el-descriptions-item label="企业logo">
							<el-image
								style="width: 100px; height: 100px"
								:src="basicData['enterpriseLogo'] ? basicData['enterpriseLogo'] : 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg'"
							></el-image
						></el-descriptions-item>
						<el-descriptions-item label="客户类型">{{ basicData["customerType"]}}</el-descriptions-item>
						<el-descriptions-item label="企业状态">{{ basicData["enterpriseStatus"]}}</el-descriptions-item>
						<el-descriptions-item label="分公司">{{ basicData["branchOffice"]}}</el-descriptions-item>
						<el-descriptions-item label="入驻园区">{{ basicData["settlePark"]}}</el-descriptions-item>
						<el-descriptions-item label="入驻时间">{{ basicData["settleDate"]}}</el-descriptions-item>
						<el-descriptions-item label="办公面积">{{ basicData["officeArea"]}}</el-descriptions-item>
						<el-descriptions-item label="来源渠道">{{ basicData["sourceChannel"]}}</el-descriptions-item>
						<el-descriptions-item label="渠道商名称">{{ basicData["distributorName"]}}</el-descriptions-item>
						<el-descriptions-item label="内部跟进人">{{ basicData["follower"]}}</el-descriptions-item>
						<el-descriptions-item label="客户联系人">{{ basicData["enterpriseContact"]}}</el-descriptions-item>
						<el-descriptions-item label="客户联系人部门">{{ basicData["enterpriseContact"]}}</el-descriptions-item>
						<el-descriptions-item label="客户联系人职务">{{ basicData["enterpriseContactTitle"]}}</el-descriptions-item>
						<el-descriptions-item label="客户联系人电话">{{ basicData["enterpriseContactPhone"]}}</el-descriptions-item>
						<el-descriptions-item label="客户联系人QQ">{{ basicData["enterpriseContactQQ"]}}</el-descriptions-item>
						<el-descriptions-item label="客户联系人邮箱">{{ basicData["enterpriseContactEmail"]}}</el-descriptions-item>
						<el-descriptions-item label="公司电话">{{ basicData["companyOfficeNumber"]}}</el-descriptions-item>
						<el-descriptions-item label="公司传真">{{ basicData["companyFax"]}}</el-descriptions-item>
						<el-descriptions-item label="公司网址">{{ basicData["companyWebsite"]}}</el-descriptions-item>
						<el-descriptions-item label="法定代表人">{{ basicData["legalRepresentative"]}}</el-descriptions-item>
						<el-descriptions-item label="法人联系电话">{{ basicData["legalRepresentativePhone"]}}</el-descriptions-item>
						<el-descriptions-item label="法人身份证"
							>{{ basicData["legalRepresentativeIdCardNo"]}}</el-descriptions-item
						>
						<el-descriptions-item label="经营状态">{{ basicData["businessStatus"]}}</el-descriptions-item>
						<el-descriptions-item label="成立日期">{{ basicData["incorporationDate"]}}</el-descriptions-item>
						<el-descriptions-item label="注册资本">{{ basicData["registeredCapital"]}}</el-descriptions-item>
						<el-descriptions-item label="实缴资本">{{ basicData["paidCapital"]}}</el-descriptions-item>
						<el-descriptions-item label="工商注册号">{{ basicData["registrationNumber"]}}</el-descriptions-item>
						<el-descriptions-item label="统一社会信用代码"
							>{{ basicData["unifiedSocialCreditCode"]}}</el-descriptions-item
						>
						<el-descriptions-item label="纳税人识别号"
							>{{ basicData["taxpayerIdentificationNumber"]}}</el-descriptions-item
						>
						<el-descriptions-item label="组织机构代码">{{ basicData["organizationCode"]}}</el-descriptions-item>
						<el-descriptions-item label="营业期限">{{ basicData["businessTerm"]}}</el-descriptions-item>
						<el-descriptions-item label="纳税人资质">{{ basicData["taxpayerQualification"]}}</el-descriptions-item>
						<el-descriptions-item label="核准日期">{{ basicData["approvalDate"]}}</el-descriptions-item>
						<el-descriptions-item label="企业类型">{{ basicData["enterpriseType"]}}</el-descriptions-item>
						<el-descriptions-item label="行业">{{ basicData["industry"]}}</el-descriptions-item>
						<el-descriptions-item label="人员规模">{{ basicData["personnelSize"]}}</el-descriptions-item>
						<el-descriptions-item label="登记机关">{{ basicData["registrationAuthority"]}}</el-descriptions-item>
						<el-descriptions-item label="英文名称" :span="3">{{ basicData["englishName"]}}</el-descriptions-item>
						<el-descriptions-item label="注册地址" :span="3"
							>{{ basicData["companyRegisteredAddress"]}}</el-descriptions-item
						>
						<el-descriptions-item label="服务外包企业"
							>{{ basicData["serviceOutsourcingEnterprises"]}}</el-descriptions-item
						>
						<el-descriptions-item label="大学生创办企业">{{ basicData["isStudentFounded"]}}</el-descriptions-item>
						<el-descriptions-item label="是否海归企业">{{ basicData["isReturnee"]}}</el-descriptions-item>
						<el-descriptions-item label="是否高新技术企业">{{ basicData["isHighTech"]}}</el-descriptions-item>
						<el-descriptions-item label="高新技术证书编号"
							>{{ basicData["highTechCertificateNo"]}}</el-descriptions-item
						>
						<el-descriptions-item label="高新技术认定时间"
							>{{ basicData["highTechattestationDate"]}}</el-descriptions-item
						>
						<el-descriptions-item label="上市情况">{{ basicData["listingSituation"]}}</el-descriptions-item>
						<el-descriptions-item label="股票名称">{{ basicData["stockName"]}}</el-descriptions-item>
						<el-descriptions-item label="股票代码">{{ basicData["stockCode"]}}</el-descriptions-item>
						<el-descriptions-item label="创建来源">{{ basicData["createSource"]}}</el-descriptions-item>
						<el-descriptions-item label="创建人">{{ basicData["createdBy"]}}</el-descriptions-item>
						<el-descriptions-item label="创建时间">{{ basicData["createdDate"]}}</el-descriptions-item>
						<el-descriptions-item label="最后修改来源">{{ basicData["lastModifiedSource"]}}</el-descriptions-item>
						<el-descriptions-item label="最后修改人">{{ basicData["lastModifiedBy"]}}</el-descriptions-item>
						<el-descriptions-item label="最后修改时间">{{ basicData["lastModifiedDate"]}}</el-descriptions-item>
						<el-descriptions-item label="企业简介" :span="3">{{ basicData["companyProfile"]}}</el-descriptions-item>
						<el-descriptions-item label="经营范围" :span="3">{{ basicData["BusinessScopes"]}}</el-descriptions-item>
					</el-descriptions>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<span>员工</span>
							<!--  -->
							<div style="display: flex; width: 500px; justify-content: space-between">
								<div>{{ `员工(${personnelInformation.data["companyResonNum"]})` }}</div>
								<div>{{ `男员工：${personnelInformation.data["manNum"]}` }}</div>
								<div>{{ `女员工：${personnelInformation.data["womanNum"]}` }}</div>
								<div>
									{{ `本地：${personnelInformation.data["companyResonNum"] - personnelInformation.data["fieldNum"]}` }}
								</div>
								<div>{{ `外地：${personnelInformation.data["fieldNum"]}` }}</div>
							</div>
						</template>
						<el-row :gutter="20">
							<el-col :span="12">
								<div id="education" style="height: 400px"></div>
							</el-col>
							<el-col :span="12"> <div id="age" style="height: 400px"></div></el-col>
						</el-row>
					</el-card>
					<br />
					<el-row :gutter="20">
						<el-col :span="8" style="margin-bottom: 10px">
							<el-card class="box-card" shadow="never">
								<template #header class="clearfix">
									<span>股东({{enterpriseShareholdersInfo.list.length}})</span>
								</template>
								<div class="body-card">
									<el-table :data="enterpriseShareholdersInfo.list" style="margin-top: -40px !important">
										<el-table-column prop="date" label="">
											<template slot-scope="scope">
												<el-avatar icon="el-icon-user-solid" :size="24"></el-avatar>
											</template>
										</el-table-column>
										<el-table-column prop="name" label=""> </el-table-column>
										<el-table-column prop="address" label=""> </el-table-column>
									</el-table>
								</div>
							</el-card>
						</el-col>
						<el-col :span="8" style="margin-bottom: 10px">
							<el-card class="box-card" shadow="never">
								<template #header class="clearfix">
									<span>车位({{parkingInfo.list.length}})</span>
								</template>
								<div class="body-card">
									<el-table :data="parkingInfo.list" style="margin-top: -20px !important">
										<el-table-column prop="date" label="">
											<template slot-scope="scope"> <el-avatar :size="20"> P </el-avatar> </template></el-table-column
										>
										<el-table-column prop="parkingSpaceNo" label=""> </el-table-column>
										<el-table-column prop="holdingNature" label=""> </el-table-column>
									</el-table>
								</div>
							</el-card>
						</el-col>
						<el-col :span="8" style="margin-bottom: 10px">
							<el-card class="box-card" shadow="never">
								<template #header class="clearfix">
									<span>车辆({{carInfo.list.length}})</span>
								</template>
								<div class="body-card">
									<el-table :data="carInfo.list" style="margin-top: -20px !important">
										<el-table-column prop="date" label="">
											<template slot-scope="scope">
												<i class="el-icon-truck"></i>
											</template>
										</el-table-column>
										<el-table-column prop="carNumber" label=""> </el-table-column>
										<el-table-column prop="isNewEnergy" label=""> </el-table-column>
									</el-table>
								</div>
							</el-card>
						</el-col>
					</el-row>
				</el-card>
				<br />
				<el-card class="box-card" shadow="never">
					<template #header class="clearfix">
						<span>行为画像</span>
						<!--  -->
					</template>
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<span>费项</span>
							<!--  -->
						</template>
						<el-card class="box-card" shadow="never">
							<template #header class="clearfix">
								<span>费用统计</span>
								<!--  -->
							</template>
							<el-descriptions title="" :border="true">
								<el-descriptions-item label="累计应缴">123</el-descriptions-item>
								<el-descriptions-item label="累计已缴">123</el-descriptions-item>
								<el-descriptions-item label="累计未缴">123</el-descriptions-item>
							</el-descriptions>
						</el-card>
						<br />
						<el-card class="box-card" shadow="never">
							<template #header class="clearfix">
								<span>费项统计</span>
								<!--  -->
							</template>
							<el-row :gutter="20">
								<el-col :span="8"><div id="AccumulatedPayable" style="height: 400px"></div></el-col>
								<el-col :span="8"><div id="AccumulatedPaid" style="height: 400px"></div></el-col>
								<el-col :span="8"><div id="AccumulatedUnpaid" style="height: 400px"></div></el-col>
							</el-row>
						</el-card>
						<br />
						<el-row :gutter="20">
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>用水趋势</span>
										<!--  -->
									</template>
									<div id="WaterUsageTrends" style="height: 400px"></div> </el-card
							></el-col>
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>用电趋势</span>
										<!--  -->
									</template>
									<div id="ElectricityConsumptionTrends" style="height: 400px"></div> </el-card
							></el-col>
						</el-row>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>账单查询</h3>
							<span class="demonstration">月份</span>
							<el-date-picker v-model="billingInfo.date" type="month" placeholder="选择月"> </el-date-picker>
						</template>
						<el-table :data="tableData" :border="true" style="width: 100%">
							<el-table-column prop="date" label="日期" width="180"> </el-table-column>
							<el-table-column prop="name" label="姓名" width="180"> </el-table-column>
							<el-table-column prop="address" label="地址"> </el-table-column>
						</el-table>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<span>支付统计</span>
							<!--  -->
						</template>
						<br />
						<el-descriptions title="" :border="true">
							<el-descriptions-item label="支付合计">kooriookami</el-descriptions-item>
							<el-descriptions-item label="支出笔数">18100000000</el-descriptions-item>
						</el-descriptions>
						<br />
						<el-card class="box-card" shadow="never">
							<template #header class="clearfix">
								<span>支付趋势</span>
								<!--  -->
							</template>
							<div id="PaymentTrends" style="height: 400px"></div>
						</el-card>
						<br />
						<el-row :gutter="20">
							<el-col :span="12">
								<el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>分类支出排行</span>
										<!--  -->
									</template>
									<div id="RankingOfClassifiedExpenses" style="height: 400px"></div> </el-card></el-col
							><el-col :span="12">
								<el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>支出排行</span>
										<!--  -->
									</template>
									<div style="width: 100%; height: 400px; overflow: auto"></div>
								</el-card>
							</el-col>
						</el-row>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>通行轨迹</h3>
							<!--  -->
							<span>月份</span>
							<el-date-picker v-model="transitInfo.transitInfo_date" type="month" placeholder="选择月">
							</el-date-picker>
						</template>
						<div id="TrafficTrend" style="height: 400px"></div>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>工单统计</h3>
							<!--  -->
							<span>服务类型</span>
							<el-select v-model="workTickets.workTicketsTypeValue" placeholder="请选择">
								<el-option
									v-for="item in workTickets.options"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option>
							</el-select>
							<span class="demonstration">服务日期</span>
							<el-date-picker
								v-model="workTickets.date"
								type="datetimerange"
								range-separator="至"
								start-placeholder="开始日期"
								end-placeholder="结束日期"
							>
							</el-date-picker>
						</template>
						<el-row :gutter="20">
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>已完结</span>
										<!--  -->
									</template>
									<div id="Completed" style="height: 400px"></div>
								</el-card>
							</el-col>
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>未完结</span>
										<!--  -->
									</template>
									<div id="unfinished" style="height: 400px"></div>
								</el-card>
							</el-col>
						</el-row>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>客户轨迹</h3>
							<span class="demonstration">操作日期</span>
							<el-date-picker
								v-model="CustomerTrajectories.OperationTime"
								type="daterange"
								:align="'right'"
								unlink-panels
								range-separator="至"
								start-placeholder="开始日期"
								end-placeholder="结束日期"
							>
							</el-date-picker>
							<span>操作系统</span>
							<el-select v-model="CustomerTrajectories.operatingSystem" placeholder="请选择">
								<el-option
									v-for="item in CustomerTrajectories.systemOptions"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option> </el-select
							><span>操作类型</span>
							<el-select v-model="CustomerTrajectories.operationType" placeholder="请选择">
								<el-option
									v-for="item in CustomerTrajectories.typeOptions"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option>
							</el-select>
						</template>
						<el-table :data="tableData" :border="true" style="width: 100%">
							<el-table-column prop="date" label="日期" width="180"> </el-table-column>
							<el-table-column prop="name" label="姓名" width="180"> </el-table-column>
							<el-table-column prop="address" label="地址"> </el-table-column>
						</el-table>
					</el-card>
				</el-card>
			</el-card>
		</div>
	</body>
	<!-- ehcarts -->
	<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.2/echarts.common.min.js"></script>
	<!-- axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		// 月份
		const lineX = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'];
		// 虚拟下拉列表
		const fakerOption = [
			{
				value: '选项1',
				label: '黄金糕',
			},
			{
				value: '选项2',
				label: '双皮奶',
			},
			{
				value: '选项3',
				label: '蚵仔煎',
			},
			{
				value: '选项4',
				label: '龙须面',
			},
			{
				value: '选项5',
				label: '北京烤鸭',
			},
		];
		const app = Vue.createApp({
			setup() {
				const { ref, reactive, nextTick } = Vue;
				// 基础信息
				const basicData = ref({});
				// 股东信息
				const enterpriseShareholdersInfo = reactive({
					list: [],
					// 显示
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// 车位信息
				const parkingInfo = reactive({
					list: [],
					// 显示
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// 车辆信息
				const carInfo = reactive({
					list: [],
					// 显示
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// 人员信息
				const personnelInformation = reactive({
					data: {},
					loadData: function (val = {}) {
						this.data = val;
					},
					showEchart: function () {
						const ageEle = document.getElementById('age');
						const educationEle = document.getElementById('education');
						this.educationEchart = echarts.init(educationEle);
						this.ageEchart = echarts.init(ageEle);
						this.educationOption.series.push({
							data: [
								this.data['phdsNum'] ?? 0,
								this.data['masterNum'] ?? 0,
								this.data['undergraduateNum'] ?? 0,
								this.data['universitiesNum'] ?? 0,
								this.data['universitiesDownNum'] ?? 0,
								this.data['seaNum'] ?? 0,
							],
							type: 'bar',
						});
						this.ageOption.series.push({
							data: [
								this.data['yearold1625Num'] ?? 0,
								this.data['yearold2635Num'] ?? 0,
								this.data['yearold3645Num'] ?? 0,
								this.data['yearold4655Num'] ?? 0,
								this.data['yearoldUp55Num'] ?? 0,
							],
							type: 'line',
							smooth: true,
						});
						this.educationEchart.setOption(this.educationOption);
						this.ageEchart.setOption(this.ageOption);
					},
					// 学历
					educationEchart: null,
					educationOption: {
						title: {
							text: '学历分布',
							left: 'center',
						},
						xAxis: {
							type: 'category',
							data: ['博士', '硕士', '本科', '大专', '大专以下', '海归人数'],
						},
						yAxis: {
							type: 'value',
						},
						series: [],
					},
					// 年龄
					ageEchart: null,
					ageOption: {
						title: {
							text: '年龄分布',
							left: 'center',
						},
						xAxis: {
							type: 'category',
							data: ['16岁-25岁', '26岁-35岁', '36岁-45岁', '46岁-55岁', '55岁以上'],
						},
						yAxis: {
							type: 'value',
						},
						series: [],
					},
				});
				// AccumulatedPayable 累计应交
				const AccumulatedPayableEChart = ref(null);
				// AccumulatedPaid 累计已交
				const AccumulatedPaidEChart = ref(null);
				// AccumulatedUnpaid 累计未交
				const AccumulatedUnpaidEchart = ref(null);
				//费项
				const option = reactive({
					tooltip: {
						trigger: 'item',
					},
					legend: {
						top: '5%',
						left: 'center',
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: ['40%', '70%'],
							avoidLabelOverlap: false,
							itemStyle: {
								borderRadius: 10,
								borderColor: '#fff',
								borderWidth: 2,
							},
							label: {
								show: false,
								position: 'center',
							},
							emphasis: {
								label: {
									show: true,
									fontSize: 40,
									fontWeight: 'bold',
								},
							},
							labelLine: {
								show: false,
							},
							data: [
								{ value: 1048, name: 'Search Engine' },
								{ value: 735, name: 'Direct' },
								{ value: 580, name: 'Email' },
								{ value: 484, name: 'Union Ads' },
								{ value: 300, name: 'Video Ads' },
							],
						},
					],
				});
				const createAccumulatedPayableEChart = () => {
					const AccumulatedPayableEle = document.getElementById('AccumulatedPayable');
					AccumulatedPayableEChart.value = echarts.init(AccumulatedPayableEle);
					AccumulatedPayableEChart.value.setOption(option);
				};
				const createAccumulatedPaidEleEchart = () => {
					const AccumulatedPaidEle = document.getElementById('AccumulatedPaid');
					AccumulatedPaidEChart.value = echarts.init(AccumulatedPaidEle);
					AccumulatedPaidEChart.value.setOption(option);
				};
				const createAccumulatedUnpaidEchart = () => {
					const AccumulatedUnpaidEle = document.getElementById('AccumulatedUnpaid');
					AccumulatedUnpaidEchart.value = echarts.init(AccumulatedUnpaidEle);
					AccumulatedUnpaidEchart.value.setOption(option);
				};
				const createUnfinishedEchart = () => {
					const unfinishedEle = document.getElementById('unfinished');
					unfinishedEchrat.value = echarts.init(unfinishedEle);
					unfinishedEchrat.value.setOption(unfinishedOption);
				};
				// 用水趋势
				const WaterChart = ref(null);
				// 用电趋势
				const ElectricityChart = ref(null);
				const WaterOption = reactive({
					xAxis: {
						type: 'category',
						data: lineX,
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [820, 932, 901, 934, 1290, 1330, 1320],
							type: 'line',
							smooth: true,
						},
					],
				});
				const ElectricityOption = reactive({
					xAxis: {
						type: 'category',
						data: lineX,
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [820, 932, 901, 934, 1290, 1330, 1320],
							type: 'line',
							smooth: true,
						},
					],
				});
				const creatWaterChart = () => {
					const wEle = document.getElementById('WaterUsageTrends');
					WaterChart.value = echarts.init(wEle);
					WaterChart.value.setOption(WaterOption);
				};
				const creatElectricityChart = () => {
					const eEle = document.getElementById('ElectricityConsumptionTrends');
					ElectricityChart.value = echarts.init(eEle);
					ElectricityChart.value.setOption(ElectricityOption);
				};
				// 支付趋势
				const PaymentTrendsEchart = ref(null);
				const PaymentTrendsOption = reactive({
					xAxis: {
						type: 'category',
						data: lineX,
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [820, 932, 901, 934, 1290, 1330, 1320],
							type: 'line',
							smooth: true,
						},
					],
				});
				const createPaymentTrendsEchart = () => {
					const PaymentTrendsEle = document.getElementById('PaymentTrends');
					PaymentTrendsEchart.value = echarts.init(PaymentTrendsEle);
					PaymentTrendsEchart.value.setOption(PaymentTrendsOption);
				};

				// Billing 账单详情
				const billingInfo = reactive({
					pageData: [],
					fullData: [],
					pageInfo: {},
					currentPage: 1,
					pageSize: 10,
					handleSizeChange: function (val) {
						console.log(val);
					},
					handleCurrentChange: function (pageNo = 1) {
						if (this.pageData.length) {
							this.pageData.splice(0);
						}
						let offset = (pageNo - 1) * this.pageSize;
						this.pageData.push(...this.fullData.slice(offset, offset + this.pageSize));
					},
					loadData: function (val = []) {
						if (this.fullData.length) {
							this.fullData.splice(0);
						}
						if (val.length) {
							this.fullData.push(...val);
							this.handleCurrentChange();
						}
					},
				});
				// transitInfo 通行趋势
				const transitInfo = reactive({
					TrafficTrendEchart: null,
					transitInfo_date: '',
					TrafficTrendOption: {
						xAxis: {
							type: 'category',
							data: lineX,
						},
						yAxis: {
							type: 'value',
						},
						series: [
							{
								data: [820, 932, 901, 934, 1290, 1330, 1320],
								type: 'line',
								smooth: true,
							},
						],
					},
				});
				const createTransitInfoEchart = () => {
					const TrafficTrendEle = document.getElementById('TrafficTrend');
					transitInfo.TrafficTrendEchart = echarts.init(TrafficTrendEle);
					transitInfo.TrafficTrendEchart.setOption(transitInfo.TrafficTrendOption);
				};
				// 工单
				const workTickets = reactive({
					workTicketsTypeValue: '',
					options: [...fakerOption],
					date: ['', ''],
				});
				// 已完结
				const completedEchart = ref(null);
				const completedOption = reactive({
					xAxis: {
						type: 'category',
						data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [120, 200, 150, 80, 70, 110, 130],
							type: 'bar',
						},
					],
				});

				const createCompletedEchart = () => {
					const CompletedEle = document.getElementById('Completed');
					completedEchart.value = echarts.init(CompletedEle);
					completedEchart.value.setOption(completedOption);
				};
				// 未完结
				const unfinishedEchrat = ref(null);
				const unfinishedOption = reactive({
					title: {
						text: 'Referer of a Website',
						subtext: 'Fake Data',
						left: 'center',
					},
					tooltip: {
						trigger: 'item',
					},
					legend: {
						orient: 'vertical',
						left: 'left',
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: '50%',
							data: [
								{ value: 1048, name: 'Search Engine' },
								{ value: 735, name: 'Direct' },
								{ value: 580, name: 'Email' },
								{ value: 484, name: 'Union Ads' },
								{ value: 300, name: 'Video Ads' },
							],
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)',
								},
							},
						},
					],
				});
				// RankingOfClassifiedExpenses 分类支出排行
				const RankingOfClassifiedExpensesEchart = ref(null);
				const RankingOfClassifiedExpensesOption = reactive({
					title: {
						text: 'Referer of a Website',
						subtext: 'Fake Data',
						left: 'center',
					},
					tooltip: {
						trigger: 'item',
					},
					legend: {
						orient: 'vertical',
						left: 'left',
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: '50%',
							data: [
								{ value: 1048, name: 'Search Engine' },
								{ value: 735, name: 'Direct' },
								{ value: 580, name: 'Email' },
								{ value: 484, name: 'Union Ads' },
								{ value: 300, name: 'Video Ads' },
							],
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)',
								},
							},
						},
					],
				});
				const createRankingOfClassifiedExpensesEchart = () => {
					const RankingOfClassifiedExpensesEle = document.getElementById('RankingOfClassifiedExpenses');
					RankingOfClassifiedExpensesEchart.value = echarts.init(RankingOfClassifiedExpensesEle);
					RankingOfClassifiedExpensesEchart.value.setOption(RankingOfClassifiedExpensesOption);
				};
				// 客户轨迹
				const CustomerTrajectories = reactive({
					OperationTime: ['', ''],
					operatingSystem: '',
					systemOptions: [...fakerOption],
					operationType: '',
					typeOptions: [...fakerOption],
				});
				const tableData = reactive([
					{
						date: '2016-05-02',
						name: '王小虎',
						address: '上海市普陀区金',
					},
					{
						date: '2016-05-04',
						name: '王小虎',
						address: '上海市普陀区金沙',
					},
					{
						date: '2016-05-01',
						name: '王小虎',
						address: '上海市普陀区金',
					},
					{
						date: '2016-05-03',
						name: '王小虎',
						address: '上海市普陀区金',
					},
				]);
				// 获取基础信息
				const getBasicInfo = () => {
					axios({
						method: 'get',
						url: 'http://localhost:8083/data/person/foundation',
						data: { feId: '1' },
						Headers: { 'Content-Type': 'application/json' },
					}).then(
						(
							res = {
								data: {
									data: {
										basicInfo,
										roomInfo,
										parkingInfo,
										carInfo,
										members,
										contractInfo,
										accountInfo,
										customerOrgVo,
										enterpriseEmployees,
									},
								},
							}
						) => {
							if (res.data.data) {
								console.log(res.data.data);
								Object.assign(basicData.value, res.data.data.basicInfo);
								parkingInfo.showData(res.data.data.parkingInfo ?? []);
								carInfo.showData(res.data.data.carInfo ?? []);
								// this.basicData = res.data.basicInfo;
								// this.parkingInfo.showData(res.data.parkingInfo);
								// this.carInfo.showData(res.data.carInfo);
								// this.enterpriseShareholdersInfo.showData(res.data.enterpriseEmployees);
								// this.personnelInformation.loadData(res.data.customerOrgVo);
								// this.personnelInformation.showEchart();
								// this.fees.showEchart();
							}
							// this.roomInfo.showData(res.data.data.roomInfo);
							// this.householdInfo.showData(res.data.data.members);
							// this.parkingInfo.showData(res.data.data.parkingInfo);
							// this.carInfo.showData(res.data.data.carInfo);
							// this.basicData = res.data.data.basicInfo;
							// this.roomInfoTable.loadData(res.data.data.roomInfo);
							// this.parking.loadData(res.data.data.parkingInfo);
							// this.carInfo.loadData(res.data.data.carInfo);
							// this.membersInfo.loadData(res.data.data.members);
							// this.contractInfo.loadData(res.data.data.contractInfo);
							// this.accountInfo.loadData(res.data.data.accountInfo);
						}
					);
				};
				nextTick(() => {
					createUnfinishedEchart();
					createCompletedEchart();
					createTransitInfoEchart();
					createPaymentTrendsEchart();
					createAccumulatedPayableEChart();
					createAccumulatedPaidEleEchart();
					createAccumulatedUnpaidEchart();
					creatElectricityChart();
					creatWaterChart();
					createRankingOfClassifiedExpensesEchart();
					personnelInformation.showEchart();
					getBasicInfo();
				});
				return {
					basicData,
					enterpriseShareholdersInfo,
					parkingInfo,
					carInfo,
					personnelInformation,
					tableData,
					billingInfo,
					CustomerTrajectories,
					transitInfo,
					workTickets,
				};
			},
			data: function () {
				return {
					visible: false,
				};
			},
			created: function () {
				console.log('created');
			},
			mounted: function () {
				// this.getBasicInfo();
				// // this.personnelInformation.loadData();

				// const wEle = document.getElementById('WaterUsageTrends');
				// const eEle = document.getElementById('ElectricityConsumptionTrends');
				// this.WaterChart = echarts.init(wEle);
				// this.WaterChart.setOption(this.WaterOption);
				// this.ElectricityChart = echarts.init(eEle);
				// this.ElectricityChart.setOption(this.ElectricityOption);

				// const PaymentTrendsEle = document.getElementById('PaymentTrends');
				// this.PaymentTrendsEchart = echarts.init(PaymentTrendsEle);
				// this.PaymentTrendsEchart.setOption(this.PaymentTrendsOption);

				// // TrafficTrend
				// const TrafficTrendEle = document.getElementById('TrafficTrend');
				// this.TrafficTrendEchart = echarts.init(TrafficTrendEle);
				// this.TrafficTrendEchart.setOption(this.TrafficTrendOption);
				// // Completed
				// const CompletedEle = document.getElementById('Completed');
				// this.completedEchart = echarts.init(CompletedEle);
				// this.completedEchart.setOption(this.completedOption);
				// // Completed
				// const unfinishedEle = document.getElementById('unfinished');
				// this.unfinishedEchart = echarts.init(unfinishedEle);
				// this.unfinishedEchart.setOption(this.unfinishedOption);
				// // Completed
				// const RankingOfClassifiedExpensesEle = document.getElementById('RankingOfClassifiedExpenses');
				// this.RankingOfClassifiedExpensesEchart = echarts.init(RankingOfClassifiedExpensesEle);
				// this.RankingOfClassifiedExpensesEchart.setOption(this.RankingOfClassifiedExpensesOption);
				console.log('mounted');
			},
		});
		app.use(ElementPlus, { locale: ElementPlusLocaleZhCn });
		app.mount('#app');
	</script>
</html>
