<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<script src="https://unpkg.com/vue@next"></script>
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-plus"></script>
		<script src="https://unpkg.com/element-plus/dist/locale/zh-cn"></script>
		<style>
			[v-cloak] {
				display: none !important;
			}
			.clearfix > span {
				font-weight: bolder;
			}
			.body-card {
				height: 128px;
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<div
			style="position: fixed; z-index: -1; top: calc(50% - 15px); left: calc(50% - 50px); width: 100px; height: 30px"
		>
			加载中...
		</div>
		<div id="app" style="background-color: #fff" v-cloak>
			<el-card class="box-card" shadow="never">
				<template #header class="clearfix">
					<span>{{ basicData["customerName"]}}</span>
				</template>
				<el-card class="box-card" shadow="never">
					<template #header class="clearfix">
						<span>基础画像</span>
					</template>
					<el-row :gutter="20">
						<el-col :span="8" v-for="(item,index) in roomInfo.list" :key="index" style="margin-bottom: 10px">
							<el-card class="room-card" shadow="never">
								<template #header class="clearfix">
									<span>{{item['spatialCoding'] ?? '-'}}</span>
								</template>
								<div class="body-card">
									<el-descriptions title="" :column="2">
										<el-descriptions-item label="区域">{{item['region'] ?? '-'}}</el-descriptions-item>
										<el-descriptions-item label="楼栋">{{item['building'] ?? '-'}}</el-descriptions-item>
										<el-descriptions-item label="单元">{{item['unit'] ?? '-'}}</el-descriptions-item>
										<el-descriptions-item label="房间号"> {{item['roomNo'] ?? '-'}} </el-descriptions-item>
										<el-descriptions-item label="备注">{{item['remarks'] ?? '-'}}</el-descriptions-item>
									</el-descriptions>
								</div>
							</el-card>
						</el-col>
						<el-col :span="8" style="margin-bottom: 10px">
							<el-card class="box-card" shadow="never">
								<template #header class="clearfix">
									<span>住户({{householdInfo.list.length}})</span>
								</template>
								<div class="body-card">
									<el-table :data="householdInfo.list" style="margin-top: -40px !important">
										<el-table-column prop="date" label="">
											<template slot-scope="scope">
												<el-avatar icon="el-icon-user-solid" :size="24"></el-avatar>
											</template>
										</el-table-column>
										<el-table-column prop="name" label=""> </el-table-column>
										<el-table-column prop="relationship" label=""> </el-table-column>
									</el-table>
								</div>
							</el-card>
						</el-col>
						<el-col :span="8" style="margin-bottom: 10px">
							<el-card class="box-card" shadow="never">
								<template #header class="clearfix">
									<span>车位({{parkingInfo.list.length}})</span>
								</template>
								<div class="body-card">
									<el-table :data="parkingInfo.list" style="margin-top: -40px !important">
										<el-table-column prop="date" label="">
											<template slot-scope="scope"> <el-avatar :size="20"> P </el-avatar> </template></el-table-column
										>
										<el-table-column prop="parkingSpaceNo" label=""> </el-table-column>
										<el-table-column prop="holdingNature" label=""> </el-table-column>
									</el-table>
								</div>
							</el-card>
						</el-col>
						<el-col :span="8" style="margin-bottom: 10px">
							<el-card class="box-card" shadow="never">
								<template #header class="clearfix">
									<span>车辆({{carInfo.list.length}})</span>
								</template>
								<div class="body-card">
									<el-table :data="carInfo.list" style="margin-top: -40px !important">
										<el-table-column prop="date" label="">
											<template slot-scope="scope">
												<i class="el-icon-truck"></i>
											</template>
										</el-table-column>
										<el-table-column prop="carNumber" label=""> </el-table-column>
										<el-table-column prop="isNewEnergy" label=""> </el-table-column>
									</el-table>
								</div>
							</el-card>
						</el-col>
					</el-row>
				</el-card>
				<br />
				<el-card class="box-card" shadow="never">
					<template #header class="clearfix">
						<span>行为画像</span>
					</template>
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<span>费项</span>
						</template>
						<el-card class="box-card" shadow="never">
							<template #header class="clearfix">
								<span>费用统计</span>
							</template>
							<el-descriptions title="" :border="true">
								<el-descriptions-item label="累计应缴">123</el-descriptions-item>
								<el-descriptions-item label="累计已缴">123</el-descriptions-item>
								<el-descriptions-item label="累计未缴">123</el-descriptions-item>
							</el-descriptions>
						</el-card>
						<br />
						<el-card class="box-card" shadow="never">
							<template #header class="clearfix">
								<span>费项统计</span>
							</template>
							<el-row :gutter="20">
								<el-col :span="8"><div id="AccumulatedPayable" style="height: 400px"></div></el-col>
								<el-col :span="8"><div id="AccumulatedPaid" style="height: 400px"></div></el-col>
								<el-col :span="8"><div id="AccumulatedUnpaid" style="height: 400px"></div></el-col>
							</el-row>
						</el-card>
						<br />
						<el-row :gutter="20">
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>用水趋势</span>
									</template>
									<div id="WaterUsageTrends" style="height: 400px"></div> </el-card
							></el-col>
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>用电趋势</span>
									</template>
									<div id="ElectricityConsumptionTrends" style="height: 400px"></div> </el-card
							></el-col>
						</el-row>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>账单查询</h3>
							<span class="demonstration">月份</span>
							<el-date-picker v-model="billingInfo.date" type="month" placeholder="选择月"> </el-date-picker>
							<!--  -->
						</template>
						<el-table :data="billingInfo.pageData" :border="true" style="width: 100%">
							<el-table-column prop="date" label="日期" width="180"> </el-table-column>
							<el-table-column prop="name" label="姓名" width="180"> </el-table-column>
							<el-table-column prop="address" label="地址"> </el-table-column>
						</el-table>
						<el-pagination
							@size-change="(val) => billingInfo.handleSizeChange(val)"
							@current-change="(val) => billingInfo.handleCurrentChange(val)"
							:current-page="billingInfo.currentPage"
							:page-size="billingInfo.pageSize"
							layout="total, prev, pager, next"
							:total="billingInfo.fullData.length"
						>
						</el-pagination>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<span>支付统计</span>
						</template>
						<br />
						<el-descriptions title="" :border="true">
							<el-descriptions-item label="支付合计">12345846</el-descriptions-item>
							<el-descriptions-item label="支出笔数">18100000000</el-descriptions-item>
						</el-descriptions>
						<br />
						<el-card class="box-card" shadow="never">
							<template #header class="clearfix">
								<h3>支付趋势</h3>
							</template>
							<div id="PaymentTrends" style="height: 400px"></div>
						</el-card>
						<br />
						<el-row :gutter="20">
							<el-col :span="12">
								<el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>分类支出排行</span>
									</template>
									<div id="RankingOfClassifiedExpenses" style="height: 400px"></div> </el-card></el-col
							><el-col :span="12">
								<el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>支出排行</span>
									</template>
									<div style="width: 100%; height: 400px; overflow: auto"></div>
								</el-card>
							</el-col>
						</el-row>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>通行轨迹</h3>
							<!--  -->
							<span>月份</span>
							<el-date-picker v-model="transitInfo.transitInfo_date" type="month" placeholder="选择月">
							</el-date-picker>
						</template>
						<div id="TrafficTrend" style="height: 400px"></div>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>工单统计</h3>
							<span>服务类型</span>
							<el-select v-model="workTickets.workTicketsTypeValue" placeholder="请选择">
								<el-option
									v-for="item in workTickets.options"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option>
							</el-select>
							<span class="demonstration">服务日期</span>
							<el-date-picker
								v-model="workTickets.date"
								type="datetimerange"
								range-separator="至"
								start-placeholder="开始日期"
								end-placeholder="结束日期"
							>
							</el-date-picker>
						</template>
						<el-row :gutter="20">
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>已完结</span>
									</template>
									<div id="Completed" style="height: 400px"></div>
								</el-card>
							</el-col>
							<el-col :span="12"
								><el-card class="box-card" shadow="never">
									<template #header class="clearfix">
										<span>未完结</span>
									</template>
									<div id="unfinished" style="height: 400px"></div>
								</el-card>
							</el-col>
						</el-row>
					</el-card>
					<br />
					<el-card class="box-card" shadow="never">
						<template #header class="clearfix">
							<h3>客户轨迹</h3>
							<span class="demonstration">操作日期</span>
							<el-date-picker
								v-model="CustomerTrajectories.OperationTime"
								type="daterange"
								:align="'right'"
								unlink-panels
								range-separator="至"
								start-placeholder="开始日期"
								end-placeholder="结束日期"
							>
							</el-date-picker>
							<span>操作系统</span>
							<el-select v-model="CustomerTrajectories.operatingSystem" placeholder="请选择">
								<el-option
									v-for="item in CustomerTrajectories.systemOptions"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option> </el-select
							><span>操作类型</span>
							<el-select v-model="CustomerTrajectories.operationType" placeholder="请选择">
								<el-option
									v-for="item in CustomerTrajectories.typeOptions"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option>
							</el-select>
						</template>
						<el-table :data="tableData" :border="true" style="width: 100%">
							<el-table-column prop="date" label="日期" width="180"> </el-table-column>
							<el-table-column prop="name" label="姓名" width="180"> </el-table-column>
							<el-table-column prop="address" label="地址"> </el-table-column>
						</el-table>
					</el-card>
				</el-card>
			</el-card>
		</div>
	</body>
	<!-- ehcarts -->
	<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.2/echarts.common.min.js"></script>
	<!-- axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		// 月份
		const lineX = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'];
		// 虚拟下拉列表
		const fakerOption = [
			{
				value: '选项1',
				label: '黄金糕',
			},
			{
				value: '选项2',
				label: '双皮奶',
			},
			{
				value: '选项3',
				label: '蚵仔煎',
			},
			{
				value: '选项4',
				label: '龙须面',
			},
			{
				value: '选项5',
				label: '北京烤鸭',
			},
		];
		const app = Vue.createApp({
			setup() {
				const { ref, reactive, nextTick } = Vue;
				// 房间信息
				const roomInfo = reactive({
					list: [],
					// 显示房间数据
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// Household 住户信息
				const householdInfo = reactive({
					list: [],
					// 显示
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// 车位信息
				const parkingInfo = reactive({
					list: [],
					// 显示
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// 车辆信息
				const carInfo = reactive({
					list: [],
					// 显示
					showData: function (val = []) {
						if (this.list.length) {
							this.list.splice(0);
						}
						if (val.length) {
							this.list.push(...val);
						}
					},
				});
				// 用水趋势
				const WaterChart = ref(null);
				// 用电趋势
				const ElectricityChart = ref(null);
				const WaterOption = reactive({
					xAxis: {
						type: 'category',
						data: lineX,
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [820, 932, 901, 934, 1290, 1330, 1320],
							type: 'line',
							smooth: true,
						},
					],
				});
				const ElectricityOption = reactive({
					xAxis: {
						type: 'category',
						data: lineX,
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [820, 932, 901, 934, 1290, 1330, 1320],
							type: 'line',
							smooth: true,
						},
					],
				});
				const creatWaterChart = () => {
					const wEle = document.getElementById('WaterUsageTrends');
					WaterChart.value = echarts.init(wEle);
					WaterChart.value.setOption(WaterOption);
				};
				const creatElectricityChart = () => {
					const eEle = document.getElementById('ElectricityConsumptionTrends');
					ElectricityChart.value = echarts.init(eEle);
					ElectricityChart.value.setOption(ElectricityOption);
				};
				// AccumulatedPayable 累计应交
				const AccumulatedPayableEChart = ref(null);
				// AccumulatedPaid 累计已交
				const AccumulatedPaidEChart = ref(null);
				// AccumulatedUnpaid 累计未交
				const AccumulatedUnpaidEchart = ref(null);
				const option = reactive({
					tooltip: {
						trigger: 'item',
					},
					legend: {
						top: '5%',
						left: 'center',
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: ['40%', '70%'],
							avoidLabelOverlap: false,
							itemStyle: {
								borderRadius: 10,
								borderColor: '#fff',
								borderWidth: 2,
							},
							label: {
								show: false,
								position: 'center',
							},
							emphasis: {
								label: {
									show: true,
									fontSize: 40,
									fontWeight: 'bold',
								},
							},
							labelLine: {
								show: false,
							},
							data: [
								{ value: 1048, name: 'Search Engine' },
								{ value: 735, name: 'Direct' },
								{ value: 580, name: 'Email' },
								{ value: 484, name: 'Union Ads' },
								{ value: 300, name: 'Video Ads' },
							],
						},
					],
				});
				const createAccumulatedPayableEChart = () => {
					const AccumulatedPayableEle = document.getElementById('AccumulatedPayable');
					AccumulatedPayableEChart.value = echarts.init(AccumulatedPayableEle);
					AccumulatedPayableEChart.value.setOption(option);
				};
				const createAccumulatedPaidEleEchart = () => {
					const AccumulatedPaidEle = document.getElementById('AccumulatedPaid');
					AccumulatedPaidEChart.value = echarts.init(AccumulatedPaidEle);
					AccumulatedPaidEChart.value.setOption(option);
				};
				const createAccumulatedUnpaidEchart = () => {
					const AccumulatedUnpaidEle = document.getElementById('AccumulatedUnpaid');
					AccumulatedUnpaidEchart.value = echarts.init(AccumulatedUnpaidEle);
					AccumulatedUnpaidEchart.value.setOption(option);
				};
				// 支付趋势
				const PaymentTrendsEchart = ref(null);
				const PaymentTrendsOption = reactive({
					xAxis: {
						type: 'category',
						data: lineX,
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [820, 932, 901, 934, 1290, 1330, 1320],
							type: 'line',
							smooth: true,
						},
					],
				});

				const createPaymentTrendsEchart = () => {
					const PaymentTrendsEle = document.getElementById('PaymentTrends');
					PaymentTrendsEchart.value = echarts.init(PaymentTrendsEle);
					PaymentTrendsEchart.value.setOption(PaymentTrendsOption);
				};

				// Billing 账单详情
				const billingInfo = reactive({
					pageData: [],
					fullData: [],
					pageInfo: {},
					currentPage: 1,
					pageSize: 10,
					handleSizeChange: function (val) {
						console.log(val);
					},
					handleCurrentChange: function (pageNo = 1) {
						if (this.pageData.length) {
							this.pageData.splice(0);
						}
						let offset = (pageNo - 1) * this.pageSize;
						this.pageData.push(...this.fullData.slice(offset, offset + this.pageSize));
					},
					loadData: function (val = []) {
						if (this.fullData.length) {
							this.fullData.splice(0);
						}
						if (val.length) {
							this.fullData.push(...val);
							this.handleCurrentChange();
						}
					},
				});
				// transitInfo 通行趋势
				const transitInfo = reactive({
					TrafficTrendEchart: null,
					transitInfo_date: '',
					TrafficTrendOption: {
						xAxis: {
							type: 'category',
							data: lineX,
						},
						yAxis: {
							type: 'value',
						},
						series: [
							{
								data: [820, 932, 901, 934, 1290, 1330, 1320],
								type: 'line',
								smooth: true,
							},
						],
					},
				});
				const createTransitInfoEchart = () => {
					const TrafficTrendEle = document.getElementById('TrafficTrend');
					transitInfo.TrafficTrendEchart = echarts.init(TrafficTrendEle);
					transitInfo.TrafficTrendEchart.setOption(transitInfo.TrafficTrendOption);
				};

				// 已完结
				const completedEchart = ref(null);
				const completedOption = reactive({
					xAxis: {
						type: 'category',
						data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
					},
					yAxis: {
						type: 'value',
					},
					series: [
						{
							data: [120, 200, 150, 80, 70, 110, 130],
							type: 'bar',
						},
					],
				});

				const createCompletedEchart = () => {
					const CompletedEle = document.getElementById('Completed');
					completedEchart.value = echarts.init(CompletedEle);
					completedEchart.value.setOption(completedOption);
				};
				// 未完结
				const unfinishedEchrat = ref(null);
				const unfinishedOption = reactive({
					title: {
						text: 'Referer of a Website',
						subtext: 'Fake Data',
						left: 'center',
					},
					tooltip: {
						trigger: 'item',
					},
					legend: {
						orient: 'vertical',
						left: 'left',
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: '50%',
							data: [
								{ value: 1048, name: 'Search Engine' },
								{ value: 735, name: 'Direct' },
								{ value: 580, name: 'Email' },
								{ value: 484, name: 'Union Ads' },
								{ value: 300, name: 'Video Ads' },
							],
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)',
								},
							},
						},
					],
				});

				const createUnfinishedEchart = () => {
					const unfinishedEle = document.getElementById('unfinished');
					unfinishedEchrat.value = echarts.init(unfinishedEle);
					unfinishedEchrat.value.setOption(unfinishedOption);
				};
				// 工单
				const workTickets = reactive({
					workTicketsTypeValue: '',
					options: [...fakerOption],
					date: ['', ''],
				});

				// RankingOfClassifiedExpenses 分类支出排行
				const RankingOfClassifiedExpensesEchart = ref(null);
				const RankingOfClassifiedExpensesOption = reactive({
					title: {
						text: 'Referer of a Website',
						subtext: 'Fake Data',
						left: 'center',
					},
					tooltip: {
						trigger: 'item',
					},
					legend: {
						orient: 'vertical',
						left: 'left',
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: '50%',
							data: [
								{ value: 1048, name: 'Search Engine' },
								{ value: 735, name: 'Direct' },
								{ value: 580, name: 'Email' },
								{ value: 484, name: 'Union Ads' },
								{ value: 300, name: 'Video Ads' },
							],
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)',
								},
							},
						},
					],
				});

				const createRankingOfClassifiedExpensesEchart = () => {
					const RankingOfClassifiedExpensesEle = document.getElementById('RankingOfClassifiedExpenses');
					RankingOfClassifiedExpensesEchart.value = echarts.init(RankingOfClassifiedExpensesEle);
					RankingOfClassifiedExpensesEchart.value.setOption(RankingOfClassifiedExpensesOption);
				};
				// 客户轨迹
				const CustomerTrajectories = reactive({
					OperationTime: ['', ''],
					operatingSystem: '',
					systemOptions: [...fakerOption],
					operationType: '',
					typeOptions: [...fakerOption],
				});
				// 基础信息
				const basicData = ref({});
				const tableData = reactive([
					{
						date: '2016-05-02',
						name: '王小虎',
						address: '上海市普陀区金',
					},
					{
						date: '2016-05-04',
						name: '王小虎',
						address: '上海市普陀区金沙',
					},
					{
						date: '2016-05-01',
						name: '王小虎',
						address: '上海市普陀区金',
					},
					{
						date: '2016-05-03',
						name: '王小虎',
						address: '上海市普陀区金',
					},
				]);

				nextTick(() => {
					createTransitInfoEchart();
					createAccumulatedPayableEChart();
					createAccumulatedPaidEleEchart();
					createAccumulatedUnpaidEchart();
					creatElectricityChart();
					creatWaterChart();
					createPaymentTrendsEchart();
					createTransitInfoEchart();
					createCompletedEchart();
					createUnfinishedEchart();
					createRankingOfClassifiedExpensesEchart();
				});
				return {
					roomInfo,
					householdInfo,
					parkingInfo,
					carInfo,
					basicData,
					billingInfo,
					transitInfo,
					workTickets,
					CustomerTrajectories,
					tableData,
				};
			},
			data: function () {
				return {
					visible: false,

					// 获取基础信息
					getBasicInfo: function () {
						axios({
							method: 'post',
							url: 'http://localhost:8088/api/customer/showCustomerView',
							data: { userId: '1', roleId: 3, token: 'ugdcsaggdfsdfuas12eg2' },
							Headers: { 'Content-Type': 'application/json' },
						}).then(
							(
								res = {
									data: { basicInfo, roomInfo, parkingInfo, carInfo, members, contractInfo, accountInfo },
								}
							) => {
								// console.log(res.data.data);
								if (res.data) {
									console.log(res.data);
									this.roomInfo.showData(res.data.roomInfo);
									this.householdInfo.showData(res.data.members);
									this.parkingInfo.showData(res.data.parkingInfo);
									this.carInfo.showData(res.data.carInfo);
									this.basicData = res.data.basicInfo;
								}

								// this.roomInfoTable.loadData(res.data.data.roomInfo);
								// this.parking.loadData(res.data.data.parkingInfo);
								// this.carInfo.loadData(res.data.data.carInfo);
								// this.membersInfo.loadData(res.data.data.members);
								// this.contractInfo.loadData(res.data.data.contractInfo);
								// this.accountInfo.loadData(res.data.data.accountInfo);
							}
						);
					},
				};
			},
			created: function () {
				console.log('created');
				// this.getBasicInfo();
			},
			mounted: function () {
				console.log('mounted');
			},
		});
		app.use(ElementPlus, { locale: ElementPlusLocaleZhCn });
		app.mount('#app');
	</script>
</html>
