<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css" />
		<title>Document</title>
		<style>
			body {
				background-color: rgb(239, 239, 239);
			}
			[v-cloak] {
				display: none !important;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<van-nav-bar
				title="个人资产"
				left-text=""
				:fixed="true"
				:placeholder="true"
				left-arrow
				@click-left="onClickLeft"
			></van-nav-bar>
			<van-tabs :offset-top="46" v-model:active="active" sticky type="card" @click-tab="onClickTab">
				<van-tab title="房间">
					<van-list
						v-model:loading="room.loading"
						:finished="room.finished"
						finished-text="没有更多了"
						@load="() => room.onLoad()"
					>
						<van-cell-group v-for="item in room.list" :key="item" inset style="margin-top: 12px">
							<van-cell :title="'单元格' + item" :value="'楼栋：' + item"></van-cell>
							<van-cell :title="'区域：' + item" value="" :border="false">
								<template #value>
									<div style="color: black">{{'楼栋：' + item}}</div>
								</template>
							</van-cell>
							<van-cell :title="'单元：' + item" :border="false">
								<template #value>
									<div style="color: black"><div style="color: black">房间号：{{item}}</div></div>
								</template></van-cell
							>
							<van-cell title="建筑面积:" :border="false"> <template #value> </template></van-cell>
						</van-cell-group>
					</van-list>
				</van-tab>
				<van-tab title="车位">
					<van-cell-group inset title="  ">
						<van-cell :title="`车位(${park.list.length})`" value=""></van-cell>
						<van-cell
							v-for="(item) in park.list"
							:key="item"
							title="A1001"
							value="固定车位"
						></van-cell> </van-cell-group
				></van-tab>
			</van-tabs>
		</div>
		<!-- 引入 Vue 和 Vant 的 JS 文件 -->
		<script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
		<script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
		<script>
			// 在 #app 标签下渲染一个按钮组件
			const app = Vue.createApp({
				setup() {
					const { ref, reactive } = Vue;
					const count = ref(0);
					const handelChange = () => {
						count.value = 1;
					};
					const onClickLeft = () => {};
					const active = ref(0);
					const room = reactive({
						list: [],
						loading: false,
						finished: false,
						onLoad: function () {
							// 异步更新数据
							// setTimeout 仅做示例，真实场景中一般为 ajax 请求
							setTimeout(() => {
								for (let i = 0; i < 10; i++) {
									this.list.push(this.list.length + 1);
								}

								// 加载状态结束
								this.loading = false;

								// 数据全部加载完成
								if (this.list.length >= 40) {
									this.finished = true;
								}
							}, 1000);
						},
					});
					const park = reactive({
						list: [],
						loading: false,
						finished: false,
						onLoad: function () {
							// 异步更新数据
							// setTimeout 仅做示例，真实场景中一般为 ajax 请求
							setTimeout(() => {
								for (let i = 0; i < 10; i++) {
									this.list.push(this.list.length + 1);
								}

								// 加载状态结束
								this.loading = false;

								// 数据全部加载完成
								if (this.list.length >= 40) {
									this.finished = true;
								}
							}, 1000);
						},
					});
					const onClickTab = (name) => {
						console.log(name);
						if (name.name == 1) {
							park.onLoad();
						}
					};
					return {
						count,
						active,
						handelChange,
						onClickLeft,
						room,
						park,
						onClickTab,
					};
				},
			});
			app.use(vant);

			// 通过 CDN 引入时不会自动注册 Lazyload 组件
			// 可以通过下面的方式手动注册
			app.use(vant.Lazyload);

			// 调用工具函数，弹出一个 Toast
			// vant.showToast('提示');

			app.mount('#app');
		</script>
	</body>
</html>
