<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css" />
		<title>加入企业</title>
		<style>
			body {
				background-color: rgb(239, 239, 239);
			}
			[v-cloak] {
				display: none !important;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<van-nav-bar
				title="加入企业"
				left-text=""
				:fixed="true"
				:placeholder="true"
				left-arrow
				@click-left="onClickLeft"
			></van-nav-bar>
			<div style="padding: 10px"></div>
			<van-form ref="form" @submit="onSubmit">
				<van-cell-group inset>
					<van-field
						v-model="name"
						name="name"
						label="姓名"
						placeholder="请填写您的真实姓名"
						:rules="[{ required: true, message: '请填写您的真实姓名' }]"
					></van-field>
				</van-cell-group>
				<div style="padding: 10px"></div>
				<van-cell-group inset>
					<van-field
						v-model="phone"
						type="phone"
						name="phone"
						label="手机号码"
						placeholder="请填写您的手机号码"
						:rules="[{ required: true, message: '请填写您的手机号码' }]"
					></van-field>
				</van-cell-group>
				<div style="padding: 10px"></div>
				<van-cell-group inset>
					<van-field
						v-model="companyName"
						name="companyName"
						label="公司名称"
						is-link
						readonly
						placeholder="请选择您的公司"
						:rules="[{ required: true, message: '请选择您的公司' }]"
						@click="changeShowPicker"
					></van-field>
					<van-popup style="height: 100%" v-model:show="showPicker" title="请选择您的公司" position="bottom">
						<van-sticky>
							<van-row>
								<van-col span="24">
									<van-search
										show-action
										v-model="searchValue"
										@cancel="onCancel"
										placeholder="请输入搜索关键词"
									></van-search>
								</van-col>
							</van-row>
						</van-sticky>

						<van-list v-model:loading="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
							<van-cell v-for="item in list" :key="item" :title="item"></van-cell>
						</van-list>
						<!-- <van-picker :columns="columns" @confirm="onConfirm" @cancel="showPicker = false"></van-picker
					> -->
					</van-popup>
				</van-cell-group>
				<div style="padding: 10px"></div>
				<van-cell-group inset>
					<van-field
						v-model="department"
						type="text"
						name="department"
						label="部门"
						placeholder="请输入您所在的部门名称"
						:rules="[{ required: true, message: '请输入您所在的部门名称' }]"
					>
					</van-field>
				</van-cell-group>
				<div style="padding: 10px"></div>
				<van-cell-group inset>
					<van-field
						v-model="post"
						name="post"
						label="岗位"
						placeholder="请输入您的真实岗位"
						:rules="[{ required: true, message: '请输入您的真实岗位' }]"
					></van-field>
				</van-cell-group>
				<div style="margin: 16px">
					<van-button round block type="primary" native-type="submit"> 提交 </van-button>
				</div>
			</van-form>
		</div>
		<!-- 引入 Vue 和 Vant 的 JS 文件 -->
		<script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
		<script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
		<script>
			// 在 #app 标签下渲染一个按钮组件
			const app = Vue.createApp({
				setup() {
					const { ref, reactive } = Vue;
					const count = ref(0);
					const handelChange = () => {
						count.value = 1;
					};
					const form = ref();
					const onClickLeft = () => {};
					const companyName = ref('');
					const post = ref('');
					const department = ref('');
					const phone = ref('');
					const searchValue = ref('');
					const name = ref('');
					const sendPhoneCode = () => {
						form.value
							.validate('phone')
							.then((result) => {
								console.log(result);
							})
							.catch((err) => {});
					};
					const showPicker = ref(false);
					const onSubmit = () => {
						console.log(form.value);
					};
					const columns = reactive([
						{ text: '业主', value: 'Hangzhou' },
						{ text: '家属', value: 'Ningbo' },
						{ text: '租客', value: 'Wenzhou' },
					]);
					const onConfirm = (v = { selectedOptions: [] }) => {
						console.log(v.selectedOptions[0]);
					};
					const changeShowPicker = () => {
						showPicker.value = true;
					};
					const onCancel = () => {
						showPicker.value = false;
					};
					// 列表
					const list = reactive([]);
					const loading = ref(false);
					const finished = ref(false);
					const onLoad = () => {
						// 异步更新数据
						// setTimeout 仅做示例，真实场景中一般为 ajax 请求
						setTimeout(() => {
							for (let i = 0; i < 10; i++) {
								list.push(list.length + 1);
							}

							// 加载状态结束
							loading.value = false;

							// 数据全部加载完成
							if (list.length >= 40) {
								finished.value = true;
							}
						}, 1000);
					};
					return {
						count,
						handelChange,
						onClickLeft,
						form,
						sendPhoneCode,
						onSubmit,
						showPicker,
						onConfirm,
						companyName,
						post,
						department,
						phone,
						name,
						changeShowPicker,
						columns,
						list,
						loading,
						finished,
						onLoad,
						onCancel,
						searchValue,
					};
				},
			});
			app.use(vant);

			// 通过 CDN 引入时不会自动注册 Lazyload 组件
			// 可以通过下面的方式手动注册
			app.use(vant.Lazyload);

			// 调用工具函数，弹出一个 Toast
			// vant.showToast('提示');

			app.mount('#app');
		</script>
	</body>
</html>
