<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css" />
		<title>客户 -- 合同信息</title>
		<style>
			[v-cloak] {
				display: none !important;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<van-nav-bar
				:placeholder="true"
				:fixed="true"
				title="企业档案"
				left-text=""
				left-arrow
				@click-left="() => onClickLeft()"
			></van-nav-bar>
			<van-tabs :animated="true" :sticky="true" :offset-top="50" v-model:active="active" type="card">
				<van-tab title="全部">
					<van-list v-model:loading="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
						<van-cell-group v-for="item in list" :key="item" style="margin-top: 12px">
							<van-cell :title="'编号：' + item" value="物业"></van-cell>
							<van-cell title="到期日期：2023-21-3" value="">
								<template #value><van-button @click="handelChange" style="height: 30px">查看</van-button></template>
							</van-cell>
						</van-cell-group>
					</van-list>
				</van-tab>
				<van-tab title="正常">
					<van-list v-model:loading="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
						<van-cell-group v-for="item in list" :key="item" style="margin-top: 12px">
							<van-cell :title="'编号：' + item" value="物业"></van-cell>
							<van-cell title="到期日期：2023-21-3" value="">
								<template #value><van-button @click="handelChange" style="height: 30px">查看</van-button></template>
							</van-cell>
						</van-cell-group>
					</van-list></van-tab
				>
				<van-tab title="已过期">
					<van-list v-model:loading="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
						<van-cell-group v-for="item in list" :key="item" style="margin-top: 12px">
							<van-cell :title="'编号：' + item" value="物业"></van-cell>
							<van-cell title="到期日期：2023-21-3" value="">
								<template #value><van-button @click="handelChange" style="height: 30px">查看</van-button></template>
							</van-cell>
						</van-cell-group>
					</van-list>
				</van-tab>
			</van-tabs>
			<!-- <van-cell-group>
				<van-cell title="内部跟进人" value="暂无数据"> </van-cell>
				<van-cell title="注册地址" value="暂无数据"> </van-cell>
				<van-cell title="企业联系人" value="暂无数据"> </van-cell>
				<van-cell title="联系人电话" value="暂无数据"> </van-cell>
				<van-cell title="联系人邮箱" value="暂无数据"> </van-cell>
				<van-cell title="法人代表" value="暂无数据"> </van-cell>
				<van-cell title="注册资本" value="暂无数据"> </van-cell>
				<van-cell title="入驻时间" value="暂无数据"> </van-cell>
				<van-cell title="入驻园区" value="暂无数据"> </van-cell>
				<van-cell title="办公面积" value="暂无数据"> </van-cell>
				<van-cell title="高新技术认定时间" value="暂无数据"> </van-cell>
				<van-cell title="上市情况" value="暂无数据"> </van-cell>
				<van-cell title="上市时间" value="暂无数据"> </van-cell>
				<van-cell title="企业简介" value="暂无数据"> </van-cell>
				<van-cell title="经营范围" value="暂无数据"> </van-cell>
			</van-cell-group> -->
			<!-- <van-button @click="handelChange">按钮</van-button>
			{{count}} -->
		</div>
		<!-- 引入 Vue 和 Vant 的 JS 文件 -->
		<script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
		<script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
		<script>
			// 在 #app 标签下渲染一个按钮组件
			const app = Vue.createApp({
				data() {
					return {
						count: 0,
						active: 0,
						list: [],
						loading: false,
						finished: false,
						handelChange: () => {
							this.count = 1;
						},
						onClickLeft: () => {},
						onLoad: () => {
							// 异步更新数据
							// setTimeout 仅做示例，真实场景中一般为 ajax 请求
							setTimeout(() => {
								for (let i = 0; i < 10; i++) {
									this.list.push(this.list.length + 1);
								}

								// 加载状态结束
								this.loading = false;

								// 数据全部加载完成
								if (this.list.length >= 40) {
									this.finished = true;
								}
							}, 1000);
						},
					};
				},
			});
			app.use(vant);

			// 通过 CDN 引入时不会自动注册 Lazyload 组件
			// 可以通过下面的方式手动注册
			app.use(vant.Lazyload);

			// 调用工具函数，弹出一个 Toast
			// vant.showToast('提示');

			app.mount('#app');
		</script>
	</body>
</html>
